<mat-card>
    <mat-card-header>
        <h1>User Login</h1>
    </mat-card-header>
    <mat-card-content>
        <div class="example-form">

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" [(ngModel)]="email">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" [(ngModel)]="password">
            </mat-form-field>
            <div class="user">
                <a routerLink="/register">New User</a>
                <div class="spacer"></div>
                <a routerLink="/forgot">Forget Password</a>
            </div>
            <div class="" style="float: right;">
                <button mat-raised-button color="primary" (click)="loginSubmitForm()">Login</button>

                <!-- <a routerLink="/register" mat-raised-button color="accent">New User</a> -->
            </div>
        </div>
    </mat-card-content>
</mat-card>