<mat-card>
    <mat-card-header>
        <h1>User Registration</h1>
    </mat-card-header>
    <mat-card-content>
        <div class="example-form">
            <!-- <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>User ID</mat-label>
                <input matInput formControlName="id">
            </mat-form-field> -->
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>User Name</mat-label>
                <input type="text" matInput name="username" [(ngModel)]="username">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput name="email" [(ngModel)]="email">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput name="password" [(ngModel)]="password">
            </mat-form-field>
            <div>
                <mat-radio-group [(ngModel)]="gender" aria-label="Gender">
                    <mat-radio-button value="male" name="gender">Male</mat-radio-button>
                    <mat-radio-button value="female" name="gender">Female</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="submit-section">
                <div class="spacer"></div>
                <button mat-raised-button color="primary" (click)="registrationForm()">Submit</button>
                <div class="spacer"></div>
            </div>
            <div>
                <a routerLink="/login">Already have an account? <b>login here</b></a><span></span>
            </div>
        </div>
    </mat-card-content>
</mat-card>